// Colores principales
$color-primary: #e50914;
$color-dark: #141414;
$color-light: #ffffff;
$color-gray: #b3b3b3;

// Tipografía
$font-main: 'Montserrat', sans-serif;

// Espaciado
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// Bordes
$radius-md: 8px;


// HEADER
$header-height: 70px;
$content-padding: 4%;
$hero-height: 70vh;
